/*Header*/
#header{
	background:url("http://i.imgur.com/WHc11eO.jpg")
}
/*Main BG*/
body {
background-image:url('http://i.imgur.com/OJ9tGQg.jpg');
background-repeat:no-repeat;
background-position:center fixed;
}


/*PM Box*/
.pm-log {
	min-height: 100px;
	max-height: 300px;
	background: url(http://i.imgur.com/nXHsL34.gif) center top scroll;
	color: #ffffff;
	word-wrap: break-word;
	overflow: auto;
	border: 0px solid #000000;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}
.pm-window h3 {
    background: url(http://images2.layoutsparks.com/1/237102/miaka-dbl-bg-sky.gif);
  	border: 2px;
}
.pm-window.focused h3, .pm-window.focused h3:hover {
background: url(http://freedesignfile.com/upload/2012/09/sun-background-3.jpg);
border: 2px;
}
.pm-log-add {
        background: #a00;
  		border: 2px;
    	border-color: #000;
}

/*Chat*/
.chat-log {
    	font-size: 10pt;
    	background: url("http://i.imgur.com/q1Pkcrk.png") repeat;
    	opacity: 1;
    	border-left: 1px solid rgb(95, 200, 255);
    	overflow: auto;
}


.userbar{
	border:1px solid #b6b6b6;
	padding:5px;
	background:#EBEBEB;
	margin-top:-5px
}

/*"Look for a battle" buttons (when hovered over)*/
.menugroup .button:hover {
   	background: #100;
  	color: #eff
}

/*"Look for a battle" buttons*/
.menugroup .button {
    	background: #eff;
  		color: #100
}


.userlist {
  background: url(http://i.imgur.com/JZgrBq0.jpg);
  color: #fff;
  border: 1px solid;
}

.tabbar a.button.cur,.tabbar a.button.cur:hover {
	color: #e1e1e1;
	text-shadow:none;
  	border: 2px;
	background: url(http://wallpoper.com/images/00/28/43/76/minimalistic-wall_00284376.jpg) center top;
	cursor: default;
}

.tabbar a.button {
	background:url(http://www.emauanakahula.org/black___white_gradient.jpg) center top;
	color: #fff;
}

.char {
  background: url(http://fc09.deviantart.net/fs71/f/2012/275/7/7/black_and_grey_stripe_pattern_by_wiizkiid-d5gm6uv.png) center;
  color: #eff;
  }
