/* =======================================================
::			  				Battle						::
======================================================= */
.ps-room.ps-room-opaque {
    background: #333;
    color: black;
}

.ps-room {
    position: absolute;
    display: block;
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #333;
  	border-top: none;
}

.ps-room .battle{
	top: 60px;
	border-width: 0px;
}
  
.foehint{    
position: relative;
top: 45px;
}        
        
.battle {
    border: 0px solid #AAAAAA;
    width: 640px;
    height: 360px;
    overflow: visible;
    font-family: Verdana, sans-serif;
    font-size: 10pt;
}
    
.backdrop {
    width: 640px;
    height: 360px;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    background: -50px -90px;
    opacity: 1 !important;
}

.backdrop:after{
	display: block;
	content: "";
	background: url(http://i.imgur.com/zQ6bUvr.png);
	position: absolute;
	top: 0;
	left: 0;
	width: 640px;
    height: 360px;
}

.ps-room .battle-controls {
top: 430px;
}

.turn {
    position: absolute;
    top: -42px;
    left: 270px !important;
    width: 101px;
    height: 17px;
    font-size: 8pt;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    padding-top:35px;
    border: 0;
    border-radius: 0;
    opacity: 1 !important;
    background: url(http://i.imgur.com/Ng0wOlV.png);
    text-align: center;
    color: #FFF;
}


  
  


.rightbar {
position: absolute;
top: -60px;
right: 0;
height: 100px;
width: 320px;
background-color: rgba(255,255,255,0);
border: 0px solid rgba(215,215,215,0.5);
color: #777777;
background-image: url(http://i.imgur.com/WEdUzyR.png);
background-position: 0px -35px;
}

.rightbar .trainer {
margin-top: 0px;
text-align: right;
}

.rightbar .trainersprite{
position: absolute;
top: 5px;
left: 40px;
opacity: 1 !important;
}

.trainer strong {
display: block;
font-size: 8pt;
overflow: hidden;
padding-top: 45px;
padding-right: 10px;
color: #111;
}
  
  
.rightbar .trainer .teamicons {
float:left;
position: relative;
top: -42px;
left: 108px;
}










.leftbar {
position: absolute;
top: -60px;
left: 0;
height: 100px;
width: 320px;
background-color: rgba(255,255,255,0);
border: 0px solid rgba(215,215,215,0.5);
color: #777777;
background-image: url(http://i.imgur.com/Y68Rmc5.png);
background-position: 0px -35px;
}

.leftbar .trainer {
margin-top: 0px;
text-align: left;
}

.leftbar .trainersprite{
position: absolute;
top: 5px;
right: 40px;
opacity: 1 !important;
}

.leftbar .trainer strong {
display: block;
font-size: 8pt;
overflow: hidden;
padding-top: 45px;
padding-left: 10px;
}
  
  
.leftbar .trainer .teamicons {
float:right;
position: relative;
top: -42px;
right: 108px;
}

/* =======================================================
::			  			   Weather						::
======================================================= */

.weather {
	text-shadow:none;
    color: rgba(0,0,0,0);
}

.weather em small {
	font-size: 7pt;
    color: white;
    text-shadow: 1px 1px black;
    position: absolute;
    left:0;
    top: 85px;
    width: 95px;
    text-align:center;
  }
  
.sunweather, .sunnydayweather {
background: url(http://i.imgur.com/Acqm3wY.png) no-repeat scroll left top;
}

.rainweather, .raindanceweather {
background: url(http://i.imgur.com/6oeWUQ3.png) no-repeat scroll left top;
  }
  
.hailweather {
background: url(http://i.imgur.com/T2mCkYF.png) no-repeat scroll left top;
  }

.sandstormweather {
background: url(http://i.imgur.com/loxBPOI.png) no-repeat scroll left top;
}

.pseudoweather{
background: url(http://i.imgur.com/diinudq.png) no-repeat scroll left top;
}
    
/* =======================================================
::			  			Attack Buttons					::
======================================================= */

.switchmenu button, .switchmenu button:disabled{
	background: url(http://i.imgur.com/qYAMtSx.png) !important;
    border: none;
    box-shadow: none;
    border-radius: 0;
  	font-size: 8pt;
}

.switchmenu button{
	color: white;            
    text-shadow: 1px 1px black;
}

.switchmenu button:disabled{
    opacity: .5;
    }

.movemenu button{
	width: 150px;      
	height: 50px;
    border-radius: 0;
    border-width: 0;
    box-shadow: none;
    color: white;
    text-shadow: 1px 1px black;
    font-size: 10pt;
    padding-top: 10px;
}

.movemenu button small{
text-align: center;
width: 62px;
margin-top:2px;
}

.movemenu button small.type, .movemenu button small.pp {
padding-top: 8px;
color: white;
//margin:6px 15px 0 10px;
}

.movemenu button.type-Normal{
    background: #8a8a59 url(http://i.imgur.com/ee2HfDF.png);
}
.movemenu button.type-Normal:hover{
    background: #79794e url(http://i.imgur.com/ee2HfDF.png);
}

.movemenu button.type-Fire{
    background: #dd6610 url(http://i.imgur.com/ee2HfDF.png);
}
.movemenu button.type-Fire:hover{
    background: #b4530d url(http://i.imgur.com/ee2HfDF.png);
}

.movemenu button.type-Water{
    background: #386ceb url(http://i.imgur.com/ee2HfDF.png);
}
.movemenu button.type-Water:hover{
    background: #1753e3 url(http://i.imgur.com/ee2HfDF.png);
}

.movemenu button.type-Electric{
    background: #f0c108 url(http://i.imgur.com/ee2HfDF.png);
}
.movemenu button.type-Electric:hover{
    background: #c19b07 url(http://i.imgur.com/ee2HfDF.png);
}

.movemenu button.type-Grass{
    background: #5ca935 url(http://i.imgur.com/ee2HfDF.png);
}
.movemenu button.type-Grass:hover{
    background: #4a892b url(http://i.imgur.com/ee2HfDF.png);
}

.movemenu button.type-Ice{
    background: #69c6c6 url(http://i.imgur.com/ee2HfDF.png);
}
.movemenu button.type-Ice:hover{
    background: #45b6b6 url(http://i.imgur.com/ee2HfDF.png);
}

.movemenu button.type-Fighting{
    background: #9d2721 url(http://i.imgur.com/ee2HfDF.png);
}
.movemenu button.type-Fighting:hover{
    background: #82211b url(http://i.imgur.com/ee2HfDF.png);
}

.movemenu button.type-Poison{
    background: #803380 url(http://i.imgur.com/ee2HfDF.png);
}
.movemenu button.type-Poison:hover{
    background: #662966 url(http://i.imgur.com/ee2HfDF.png);
}

.movemenu button.type-Ground{
    background: #d4a82f url(http://i.imgur.com/ee2HfDF.png);
}
.movemenu button.type-Ground:hover{
    background: #aa8623 url(http://i.imgur.com/ee2HfDF.png);
}

.movemenu button.type-Flying{
    background: #9180c4 url(http://i.imgur.com/ee2HfDF.png);
}
.movemenu button.type-Flying:hover{
    background: #7762b6 url(http://i.imgur.com/ee2HfDF.png);
}

.movemenu button.type-Psychic{
    background: #f61c5d url(http://i.imgur.com/ee2HfDF.png);
}
.movemenu button.type-Psychic:hover{
    background: #d60945 url(http://i.imgur.com/ee2HfDF.png);
}

.movemenu button.type-Bug{
    background: #8d9a1b url(http://i.imgur.com/ee2HfDF.png);
}
.movemenu button.type-Bug:hover{
    background: #616b13 url(http://i.imgur.com/ee2HfDF.png);
}

.movemenu button.type-Rock{
    background: #93802d url(http://i.imgur.com/ee2HfDF.png);
}
.movemenu button.type-Rock:hover{
    background: #746523 url(http://i.imgur.com/ee2HfDF.png);
}

.movemenu button.type-Ghost{
    background: #554374 url(http://i.imgur.com/ee2HfDF.png);
}
.movemenu button.type-Ghost:hover{
    background: #413359 url(http://i.imgur.com/ee2HfDF.png);
}

.movemenu button.type-Dragon{
    background: #4c08ef url(http://i.imgur.com/ee2HfDF.png);
}
.movemenu button.type-Dragon:hover{
    background: #3d07c0 url(http://i.imgur.com/ee2HfDF.png);
}

.movemenu button.type-Dark{
    background: #513f34 url(http://i.imgur.com/ee2HfDF.png);
}
.movemenu button.type-Dark:hover{
    background: #362a23 url(http://i.imgur.com/ee2HfDF.png);
}

.movemenu button.type-Steel{
    background: #9797ba url(http://i.imgur.com/ee2HfDF.png);
}
.movemenu button.type-Steel:hover{
    background: #7a7aa7 url(http://i.imgur.com/ee2HfDF.png);
}

.movemenu button.type-undefined, .movemenu button.type-undefined:hover{
    background: url(http://i.imgur.com/ee2HfDF.png);
}

.movemenu button:disabled{
    background: rgba(0,0,0,0) url(http://i.imgur.com/ee2HfDF.png) !important;
    opacity: .5;
}

/* =======================================================
::			  				Tooltip						::
======================================================= */

#tooltipwrapper {
	position: absolute;
	top: 400px;
	left: 100px;
	text-align: left;
	color: #ecf0f1;
}
#tooltipwrapper .tooltipinner {
	position: relative;
}
#tooltipwrapper .tooltip {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 300px;
	border: 1px solid #161616;
	background: url(http://i.imgur.com/rFSFXGg.png);
	border-radius: 2px;
}
#tooltipwrapper .tooltip h2 {
	padding: 2px 4px;
	margin: 0;
	border-bottom: 1px solid #161616;
	font-size: 10pt;
}
#tooltipwrapper .tooltip h2 small {
	font-weight: normal;
}
#tooltipwrapper .tooltip p {
	padding: 2px 4px;
	margin: 0;
	font-size: 8pt;
}
#tooltipwrapper .tooltip p.section {
	border-top: 1px solid #161616;
}

/* =======================================================
::			  		TeamBuilder Hax Fix					::
======================================================= */

.teambuilder-results .utilichart, .teambuilder-results .utilichart li {
     border: none; 
     width: 100%;
     height: none;
     background: none;
     box-shadow: none; 
    }
    
.teambuilder-results .utilichart:after{
     display:none;       
          }

.teambuilder-results .utilichart .col {
float: left;
        position: relative;
        top:0;
        left:0;
padding-top: 6px;
height: 22px;
font-size: 9pt;
color: #444444;
  font-weight: normal;
  font-size: 8pt;
}
      
.teambuilder-results .utilichart .numcol {
width: 24px;
padding-right: 5px;
text-align: right;
color: #999999;
padding-top: 7px;
font-size: 8pt;
}

.teambuilder-results .utilichart .pokemonnamecol {
padding-top: 5px;
height: 23px;
width: 127px;
color: #000000;
font-size: 10pt;
}
      
.teambuilder-results .utilichart .twoabilitycol {
padding-top: 0;
height: 28px;
font-size: 8pt;
width: 90px;
}

.teambuilder-results .utilichart .typecol {
width: 70px;
}
                  
.teambuilder-results .utilichart .typecol img{
margin-right:1px;
                        }
                        
.teambuilder-results .utilichart .twoabilitycol {
padding-top: 0;
height: 28px;
font-size: 8pt;
width: 90px;
}
                              
.teambuilder-results .utilichart .abilitycol, .teambuilder-results .utilichart .twoabilitycol {
margin:0px;                                      
                                    }
                                    
.teambuilder-results .utilichart .statcol, .teambuilder-results .utilichart .bstcol {
margin:0px; padding-top:0px; font-size: 8pt; text-align: right;                                            
                                          }
                                          
.teambuilder-results .utilichart .iconcol, .teambuilder-results .utilichart .itemiconcol{ padding-top: 2px; padding-right: 2px;  }

.teambuilder-results .utilichart .itemdesccol, .teambuilder-results .utilichart .abilitydesccol {
width: 464px;
}

.teambuilder-results .utilichart .labelcol, .teambuilder-results .utilichart .widelabelcol, .teambuilder-results .utilichart .pplabelcol {      
             margin: 0px 8px; padding: 0px; text-align:right;
            }
            
.teambuilder-results .utilichart .movedesccol {
width: 284px;
}            

/* =======================================================
::			  				HP BAR						::
======================================================= */

.statbar
{
	position: absolute;
	display: none;
	width: 186px;
	background: url(http://i.imgur.com/IKIMzZJ.png);
	background-repeat: no-repeat;
	background-position: 0px 1px;
	min-height: 40px;
	padding: 2px 4px 2px 26px;
}
.statbar strong
{
	position: absolute;
	left: 30px;
	top: 6px;
	font-size: 9px;
	font-weight: normal;
	display: block;
	text-align: center;
	color: #FFF;
	text-shadow: #000 1px 1px 0, #000 1px -1px 0, #000 -1px 1px 0, #000 -1px -1px 0;
}
.statbar strong small
{
  	font-size: 9px;
	font-weight: normal;
}
.statbar .hpbar
{
	position: relative;
	border: 1px solid #131313;
	background: #FCFEFF;
	height: 6px;
	margin: 0 0 0 0;
	width: 151px;
	border-radius: 0px;
  	padding: 0;
  	top: -2px;
}
.hptextborder{
	display:none !important;
}

/* The declaration order of these hp* classes is significant. */

.statbar .hpbar .hp
{
	height: 3px;
	border-top: 1px solid #007734;
	background: #00bb51;
	border-bottom: 2px solid #007734;
	border-radius: 0px;
}
.statbar .hpbar .hp-yellow
{
	background-color: #f5d538;
	border-color: #be9f0a;
}
.statbar .hpbar .hp-red
{
	background-color: #ee4928;
	border-color: #a3260d;
}

/* The declaration order of these prevhp* classes is significant. */

.statbar .hpbar .prevhp
{
	background: #BBEECC;
	height: 6px;
	border-radius: 0px;
}
.statbar .hpbar .prevhp-yellow
{
	background-color: #fcf4ca;
}
.statbar .hpbar .prevhp-red
{
	background-color: #facec5;
}

/****************/

.hptext{
	margin-top: 2px;  
}
  
.statbar .hpbar .hptext
{
	position: absolute;
	color: #FFFFFF;
	text-shadow: 1px 0 black, -1px 0 black, 0 1px black, 0 -1px black;
	font-size: 9px;
	width: 32px;
	height: 12px;
	top: -1px;
	text-align: center;
}
.rstatbar .hpbar .hptext
{
	width: 40px;
	height: 15px;
	background:url(http://i.imgur.com/ZZ6x4Xp.png);
	right: -42px;
	border-radius: 0 4px 4px 0;
}
.lstatbar .hpbar .hptext
{
	width: 35px;
	height: 15px;
	background:url(http://i.imgur.com/G56gNPf.png);
	left: -55px;
	border-radius: 4px 0 0 4px;
	padding-left: 2px;
}


.statbar .status
{
  	margin-top:15px;
	min-height: 10px;
	font-size: 7pt;
}

.statbar span.brn,
.statbar span.psn,
.statbar span.slp,
.statbar span.par,
.statbar span.frz
{
  	position: absolute;
  	left: -21px;
  	top: 10px;
  	font-size: 8px;
	padding: 1px 2px;
	border: 0;
	border-radius: 3px;
}
.statbar span.bad
{
	background: #e74c3c;
	color: #ecf0f1;
	border-color: #c0392b;
}
.statbar span.good
{
	background: #27ae60;
	color: #ecf0f1;
	border-color: #067A37;
}
.statbar span.neutral
{
	background: #7f8c8d;
	color: #ecf0f1;
	border: 1 solid #2c3e50;
}


/* =======================================================
::			  				REPLAY						::
======================================================= */

.pfx-panel{
   background: #333; 
  }
  
.pfx-topbar{
  background: #131313;
      border-bottom-color: #131313;
    }
  
.replay-wrapper .battle-log{
      height: 410px;
      top: -35px;
}      

.replay-wrapper{
	top: 40px;          
}
}            

