/*PM Box*/
.pm-log {
	min-height: 100px;
	max-height: 300px;
	background: url(http://i.imgur.com/nXHsL34.gif) center top scroll;
	color: #ffffff;
	word-wrap: break-word;
	overflow: auto;
	border: 0px solid #000000;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}
.pm-window h3 {
    background: url(http://images2.layoutsparks.com/1/237102/miaka-dbl-bg-sky.gif);
  	border: 2px;
}
.pm-window.focused h3, .pm-window.focused h3:hover {
background: url(http://freedesignfile.com/upload/2012/09/sun-background-3.jpg);
border: 2px;
}
.pm-log-add{
        background: #a00;
  		border: 2px;
    	border-color: #000;
}

/*Chat*/
.chat-log{
    	background: url("http://i.imgur.com/JEnd9wn.png?1") repeat;
    	border-left: 1px solid;
    	overflow: auto;
}
